body{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

/* HOME */
.logo{
    width: 90px;
}

#toggle-btn{
    background-color: lightgray;
}

.menu a{
    color: black;
}

.menu a:hover{
    color: #f47522;
}

.active {
    color: #f47522 !important;    
}

.hero-img{
    background-image: url("../img/bg-img.png");
    height: 920px;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    border-radius: 10px;
    background-origin: border-box;
}

.foto{
    width: 355px;
    height: 355px;
}

.get{
    width: 150px;
    height: 50px;
    background-color: #f47522;
    border-radius: 50px;
    margin-top: 20px;
}

.touch{
    color: white;
    font-weight: bold;
}

.get a:hover{
    color: black;
}

.image{
    margin-top: 150px;
}

.text{
    color: #19345E;
    margin-top: 200px;
}

.hello{
    font-size: 25px;
}

.name{
    font-size: 85px;
}

.build{
    margin-top: 30px;
    font-size: 35px;
}

/* Contact US */
.image-kiri{
    background-image: url('../img/charles-rRWiVQzLm7k-unsplash.jpg');
    height: 755px;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.layer {
    background-color: rgba(25, 52, 94, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-biru{
    width: 275px;
    height: 142px;
}

.f-contact{
    width: 80%;
}

.submit{
    width: 100px;
    margin-top: 20px;
    color: white;
    background-color: #f47522;
    border-radius: 50px;    
}

.form{
    color: #19345E;
}